.App {
  text-align: center;
}

ul {
  list-style: none;
}

/* ******* */
/* Header  */
/* ******* */

.header-container {
  display: flex;
 }

.header-list {
  display: flex;
}

.header-link{
  margin-left: 1rem;
}


